.idea
Tools/__pycache__
templates/oot64keysanity
Engine/__pycache__
templates/oot3Dkeysanity
Entities/__pycache__
templates/oot3Dkeysanity.templateOLD
tracker
build
dist
__pycache__
data.json
website
Updator/output
LinSoTracker.spec
**/.DS_Store
templates/mm64
templates/oot64
ressources
templates/oot3D
templates__
templates/majora3D
templates/srcTemplate
templates/twilightprincess.old
templatesOLD
templates/twilightprincessmap
